<!DOCTYPE html>
<div class='cart-container'>
  <div class='cart-list'>
    {{#each cartItems}}
      <div class='cart-item'>
        <p>{{this.title}}</p>
        <p>${{this.price}}</p>
        <p>x{{this.quantity}}</p>
        <p><strong>${{multiply this.price this.quantity}}</strong></p>
      </div>
    {{/each}}

    <div>
      <p class='cart-total-text'>TOTAL: ${{getTotal cartItems}}</p>
      <button class='cart-total-button'>PURCHASE</button>
    </div>
  </div>

  <!-- Formulario para agregar producto al carrito -->
  <form class='product-form' action='/agregar-al-carrito/{{product._id}}' method='POST'>
    <input type='submit' value='Add to cart' class='product-button' />
  </form>

  <!-- Formulario para mostrar el total del carrito -->
  <form class='cart-form'>
    <label>Total $</label>
    <input type='text' value='{{getTotal cartItems}}' readonly />
    <input type='submit' value='Send' class='login-button' />
  </form>
</div>
