<div class='product-container'>
	<div class='product-item'>
		<h2>{{product.title}}</h2>
		<p class='product-description'>{{product.description}}</p>
		<div class='product-details'>
			<p><strong>Price:</strong> ${{product.price}}</p>
			<p><strong>Stock:</strong> {{product.stock}}</p>
			<p><strong>Category:</strong> {{product.category}}</p>
		</div>
		<form class='product-form' cart='{{cart}}' product='{{product._id}}'>
			<input type='submit' value='Add to Cart' class='product-button' />
		</form>
	</div>
</div>
<script src='/js/products.js'></script>
